a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}
a:hover{
    color:hotpink;
}
span{
    color:red;
}

.center{
    width:500;
    text-align:center;
    display:table;
    margin:0 auto;
}

html{
	font-size:1.5em;
	font-family: Courier,KaiTi;
}